<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../public/css/account.css">

  <title>HOME PAGE</title>
</head>

<body>
  <h1>WELCOM TO FLIP FLOP 👋</h1>
  <p>
    <a href="/join">Sign Up</a>
  </p>
  <p>
    <a href="/login">Log In</a>
  </p>

</body>

</html>